<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJkLwG6X4kVROIEHmmmd2ojCjwc3NxI44</string>
	<key>GCM_SENDER_ID</key>
	<string>372016180983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waterapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>project-water-f2424</string>
	<key>STORAGE_BUCKET</key>
	<string>project-water-f2424.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372016180983:ios:69c0b730a3789600622df2</string>
</dict>
</plist>